
* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    background-image: url('https://c0.wallpaperflare.com/preview/109/832/46/corridor-hotel-hallway-empty.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  

  .top__header {
    position: relative;
    height: 45px;
    padding: 10px;
    background: #51d6fb;
    color: #ffffff;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    overflow: hidden;
  }
  
  .top__header .icon__menu .menu__mobile {
    text-align: left;
    margin-top: -5px;
  }
  
  .top__header .icon__menu .menu__desktop {
    display: none;
  }
  
  .top__header h3 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .top__header:before {
    content: "";
    width: 100%;
    border-radius: 10px 10px 0 0;
    background: #4191b6;
    height: 100%;
    display: block;
    position: absolute;
    top: 32px;
    left: 0;
  }

  .cards {
    margin-top: 1rem;
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    font-family: "Roboto", sans-serif;
    justify-content: center; 
    align-items: center; 
    height: 70vh; 
  }
  
  .cards .card {
    position: relative;
    /* max-height: 340px; */
    max-height: 100%;
    min-height: 500px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    background-color: #a59595;
  }
  
  
  .cards .card .card__img {
    max-height: 350px;
    border-radius: 10px;
    overflow: hidden;
  }
  .article-image{
    margin:0;
    padding:0;
    overflow:hidden;
  }
  .article-image img{
    max-width: 100%;
    height:400px;
    border-radius: 20px 20px 0 0;
  }
  
  .cards .card .card__details {
    position: relative;
    top: -36px;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(3, 6, 31, 0.15);
    display: grid;
    grid-gap: 10px;
  }
  
  .cards .card .card__details h3 {
    font-size: 22px;
    font-weight: 400;
  }
  
  .cards .card .card__details .address {
    color: #777777;
    font-size: 12px;
  }
  
  .cards .card .card__details .price {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .cards .card .card__details .price .price__l {
    width: 100%;
    text-align: right;
  }
  
  .cards .card .card__details .price .price__l .price__label {
    font-weight: 600;
    text-align: right;
  }
  
  .cards .card .card__details .price .star img {
    width: 14px;
  }
  
  .cards .card .card__details button {
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #51d6fb;
    color: #ffffff;
  }
  
  .cards .card .credit-img {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    font-size: 10px;
    text-align: right;
  }
  

  @media (max-width: 347px) {
    .cards .card .card__details .price {
      align-items: baseline;
    }
  
    .cards .card .card__details .price .price__l {
      font-size: 12px;
    }
  }
  
  @media (min-width: 425px) {
    .top__header .icon__menu .menu__mobile {
      display: none;
    }
  
    .top__header .icon__menu .menu__desktop {
      display: block;
    }
  
    .top__header .icon__menu .menu__desktop ul.desktop__menu li {
      cursor: pointer;
      margin: 0 1rem;
      padding: 2px 10px;
    }
  
    .top__header .icon__menu .menu__desktop ul.desktop__menu li.promo {
      background: #d7493a;
      border-radius: 5px;
    }
  
    .top__header .icon__menu .menu__desktop ul.desktop__menu li.promo:hover {
      background: #c53d30;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .cards .card {
      grid-template-columns: 1fr 1fr;
    }
  
    .cards .card .card__details {
      top: 0;
      align-items: flex-start;
      align-content: center;
      grid-gap: 10px;
    }
  
    .cards .card .card__details .price {
      grid-template-columns: auto 1fr;
      font-size: 15px;
    }
  
    .cards .card .card__details .address {
      margin-top: -7px;
    }
  
    .cards .card .credit-img {
      padding: 15px 25px;
    }
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
    .cards .card {
      grid-template-columns: 1fr 1fr;
    }
  
    .cards .card .card__details {
      top: 0;
      align-items: flex-start;
      align-content: center;
      grid-gap: 10px;
    }
  
    .cards .card .card__details .price {
      grid-template-columns: auto 1fr;
      font-size: 15px;
    }
  
    .cards .card .card__details .address {
      margin-top: -7px;
    }
  
    .cards .card .credit-img {
      padding: 15px 25px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  
    .cards .card .credit-img {
      font-size: 8px !important;
    }
  }
  
  @media (min-width: 1025px) {
    .wrapper {
      width: 90%;
      height: 70%;
      margin: auto;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }
  
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .cards .card .card__details h3 {
      font-size: 18px;
    }
  }



















.modal {
  display: none;
  position: fixed;
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto; 
}


.modal-content {
  background-color: #fff;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%; 
  max-width: 800px; 
  position: relative;
  z-index: 10000; 
}


.editmodal-content {
  background-color: #fff;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%; 
  max-width: 800px; 
  position: relative;
  z-index: 10000; 
}


.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: red;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}


label {
  font-weight: bold;
}

input[type="text"],
input[type="select"] {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px; 
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #45a049;
}














/* ADD Section Design */
/* ADD Section Design */
/* ADD Section Design */
/* ADD Section Design */
/* ADD Section Design */


.add-hotel-button {
  position: absolute;
  z-index: 9999; 
  top: 90px; 
  left: 90%;
  width: 150px;
  height: 50px;
  background-color: #107706;
  color: rgb(255, 255, 255);
  border: none;
  font-weight: 800;
  cursor: pointer;
}


.add-hotel-button:hover {
  background-color: #034612;
}



.editdelbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 50%;
}


.edit-button {
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 16px; 
  
}


.delete-button {
  background-color: #f44336; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 16px; 
}











.confirm-box {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-box {
  background: #fff;
  text-align: center;
  font-family: 16px;
  line-height: 1.5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-box {
  margin-top: 30px;
}

.yes-button,
.no-button {
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bolder;
  margin: 0 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.yes-button {
  background: green;
  color: #fff
}

.no-button {
  background: red;
  color: #fff
}



























.editdelbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 50%;
}


.edit-button {
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 16px; 
  
}


.delete-button {
  background-color: #f44336; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 16px; 
}












.confirm-box {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-box {
  background: #fff;
  text-align: center;
  font-family: 16px;
  line-height: 1.5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-box {
  margin-top: 30px;
}

.yes-button,
.no-button {
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bolder;
  margin: 0 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.yes-button {
  background: green;
  color: #fff
}

.no-button {
  background: red;
  color: #fff
}


/*Design for add hotel pop up  section */
/*Design for add hotel pop up  section */
/*Design for add hotel pop up  section */
/*Design for add hotel pop up  section */
/*Design for add hotel pop up  section */






.modal {
  display: none;
  position: fixed;
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto; 
}


.modal-content {
  background-color: #fff;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%; 
  max-width: 800px;
  position: relative;
  z-index: 10000; 
}


.editmodal-content {
  background-color: #fff;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%; 
  max-width: 800px; 
  position: relative;
  z-index: 10000; 
}


.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: red;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}


label {
  font-weight: bold;
}

input[type="text"],
input[type="select"] {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px; 
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #45a049;
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}


.hoteldata h3,
.roomdata h3 {
  font-size: 20px;
  color:#1f1403;
  margin-top: 5px; 

}




p {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}


.hoteldata {
  flex: 1;
  box-sizing: border-box;
  padding-right: 30px;
}


.roomdata {
  flex: 1;
  box-sizing: border-box;
  padding-right: 30px; 
}

